<div class="col s12">
  <div class="row s8">
    <h3>{{story.title}}</h3>
    <blockquote>{{formatDate date "dddd, MMMM Do YYYY, h:mm a"}}</blockquote>
    <div class="col s12 m8 card">
      <div class="card-content">
        {{{story.body}}}
      </div>
    </div>
  </div>
  <div class="row s12">
    <h3>Recommended Movies</h3>
    <blockquote>Suggested Genre : {{story.recommendedGenre}}</blockquote>
    <div class="col card halign-wrapper">
      <div class="card-content">
        {{#each story.recommendedMoviesList}}
          <a href="https://www.themoviedb.org/movie/{{id}}">
            <div class="col">
              <div class="card poster-image">
                <div class="card-image">
                  <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" />
                  <span class="card-title">{{title}}</span>
                </div>
              </div>
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row">
    <h3>Emotion Analysis</h3>
    <ul class="collection col s4">
      <li class="collection-item">Happy<span
          class="badge"
          data-badge-caption=" "
        >{{story.emotionAnalysis.happy}}</span></li>
      <li class="collection-item">Sad<span
          class="badge"
          data-badge-caption=" "
        >{{story.emotionAnalysis.sad}}</span></li>
      <li class="collection-item">Fear<span
          class="badge"
          data-badge-caption=" "
        >{{story.emotionAnalysis.fear}}</span></li>
      <li class="collection-item">Surprise<span
          class="badge"
          data-badge-caption=" "
        >{{story.emotionAnalysis.surprise}}</span></li>
      <li class="collection-item">Angry<span
          class="badge"
          data-badge-caption=" "
        >{{story.emotionAnalysis.angry}}</span></li>
    </ul>
  </div>
</div>